.content{
    border:1px solid black;
    margin-left: 25%;
    margin-top: 5%;
    height:800px;
    width: 70%;
}
.boxx2{
    height: 310px;
    width: 27%;
    margin-top: 3%;
    margin-left: 5%;
    float: left;
    /* box-shadow: 1px 2px 2px grey ; */
    border:1px solid black;
 }
 .inside2{
    height:200px;
    width:100%;
     
    float:left;
  }
  .subhead2{
    margin-top: 73%;
    margin-left: 6%;
    font-size: 23px;
    font-weight: bold;
}

.rup{
    font-size:18px;
    font-weight:bold;
    margin-left: 6%;
    float:left;
}

#star{
    height:17px;
    width:20px;
    margin-left:54%;
    font-weight: bold;
}

.checked {
    color: orange;
  }
 
  #cart{
    margin-left:-22%;
    margin-top:2%;
  }

  #cart1{
    margin-left:25%;
    margin-top:2%;
  }

  #pcart{
    margin-left:85%;
    margin-top:2%;
  }
  .icart{
    height:35px;
    width:55px;
    margin-left:0%;
    margin-top:2%;
  }